
<section class="content">
  <div class="container-fluid">
    <h3 class="mt-3 ml-5" style="color: #fff"> <mat-icon matSuffix>compare_arrows</mat-icon> Trasferencias </h3>
    <hr style="background-color: white;">
    <div class="container-fluid">
  
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="my-card">
            <div class="body">            
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>