
<section class="content">
  <div class="container-fluid">
    <h3 class="mt-3 ml-5" style="color: #fff"> <mat-icon matSuffix>home</mat-icon> Inicio </h3>
    <hr style="background-color: white;">
    <div class="container-fluid">
  
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="my-card">
            <div class="body">  

              <!-- Aqui empieza contenido -->
              <h2> <strong style="color: #14549C;" > BBVA </strong> Creando Oportunidades</h2>
              <p>Bienvenidos...</p>          
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis ipsum laborum est aliquam iusto quam sed. Illum recusandae, sed officia praesentium beatae eos. Perferendis, esse unde! Qui assumenda magni deleniti?</p>          
              <div class="parallax"></div>
              <hr> 
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis ipsum laborum est aliquam iusto quam sed. Illum recusandae, sed officia praesentium beatae eos. Perferendis, esse unde! Qui assumenda magni deleniti?</p>
            
              <div class="parallax2"></div>
              <hr> 
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis ipsum laborum est aliquam iusto quam sed. Illum recusandae, sed officia praesentium beatae eos. Perferendis, esse unde! Qui assumenda magni deleniti?</p>          
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis ipsum laborum est aliquam iusto quam sed. Illum recusandae, sed officia praesentium beatae eos. Perferendis, esse unde! Qui assumenda magni deleniti?</p>          
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis ipsum laborum est aliquam iusto quam sed. Illum recusandae, sed officia praesentium beatae eos. Perferendis, esse unde! Qui assumenda magni deleniti?</p>          
               
              <!-- Aqui acaba contenido -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

